@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Poppins:wght@300&family=Zen+Dots&display=swap');

body {
    /*font-family: 'Zen Dots', cursive;*/
    font-family: 'Diplomata SC', cursive;
    background: linear-gradient(-45deg, #3AB0FF, #FFB562) ;
    color: #F9F2ED;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo {
    color: #F9F2ED;
    font-size: 80px;
}

.subtitulo {
    color: #F9F2ED;
    font-size: 28px;
}


.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tarjeta-de-mokepon {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 144px;
    background: #F87474;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.jugadores {
    display: grid;
    grid-template-columns: 50% 10% 50%;
    text-align: center;
}

.jugador {
    border-radius: 10%;
    border: 1px solid black;
}

.jugador_2 {
    grid-column: 3 / 4;
}

#mensajes {
    width: 370px;
    height: 100px;
    color: #F9F2ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultado {
    animation: burnitoGiro 1.5s infinite linear;
}

#boton-reiniciar {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: transparent;
    color: #F9F2ED;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input {
    display: none;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 180px;
    height: 40px;
    margin: 10px;
    color: #F9F2ED;
    background-color: transparent;
    border: 3px dashed #F9F2ED;
    border-radius: 20px;
    box-sizing: border-box;
}

.boton-de-ataque {
    width: 100px;
    background-color: #F87474;
    border-color: transparent;
    color: #F9F2ED;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif; 
}

.boton-de-ataque:hover:not(.boton-de-ataque:disabled) {
    animation: mov-btn-ataque 1s linear infinite;
}

.boton-de-ataque:disabled {
    background-color: #F9F2ED;
    color: black;
}

input[type="radio"]:checked + .tarjeta-de-mokepon{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: black;
}

input[type="radio"]:hover:not(input[type="radio"]:checked) + .tarjeta-de-mokepon{
    animation: mov-tarjetas 1s linear infinite;
}

@keyframes burnitoGiro {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes mov-tarjetas {
    0%{
        background-color: #F87474;
    }
    25%{
        background-color: #f87474bb;
    }
    50%{
        background-color: #f8747441;
    }
    75%{
        background-color: #f87474bb;
    }
    100%{
        background-color: #F87474;
    }
}

@keyframes mov-btn-ataque {
    0%{
        background-color: #F87474;
        color: #F9F2ED;
    }
    50%{
        background-color: #F9F2ED;
        color: black;
    }
    100%{
        background-color: #F87474;
        color: #F9F2ED;
    }
}