@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Poppins:wght@300&family=Zen+Dots&display=swap');

body {
    /*font-family: 'Zen Dots', cursive;*/
    font-family: 'Diplomata SC', cursive;
    background: linear-gradient(-45deg, #3AB0FF, #FFB562) ;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo {
    color: #F9F2ED;
    font-size: 80px;
}

.subtitulo {
    color: #F9F2ED;
    font-size: 28px;
}


.tarjetas {
    display: flex;
    gap: 12px;
}

.tarjeta-de-mokepon {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 144px;
    background: #F87474;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input {
    display: none;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 180px;
    height: 40px;
    margin: 10px;
    color: #F9F2ED;
    background-color: transparent;
    border: 3px dashed #F9F2ED;
    border-radius: 20px;
    box-sizing: border-box;
}

.boton-de-ataque {
    width: 100px;
    background-color: #F87474;
    border-color: transparent;
    color: #F9F2ED;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif; 
}