.titulo {
    margin: 0 30% 0 30%;
    padding: 5px;
    color: rgb(255, 136, 196);
    background: linear-gradient(teal, rgb(45, 194, 194));
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}